
body {
    font-family: Arial, sans-serif;
}
header, nav, section, footer {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
nav{
    display: flex;
    justify-content:space-between;
}
nav li:hover{
    font-size: 25px;
    color: blueviolet;
}