
body {
    font-family: Arial, sans-serif;
    background-color:darkslategray;
}
header, nav, section, footer {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    
    
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: white;
    border-radius: 10px;
    border-color: blueviolet;
    margin:40px;
    
}
nav li:hover{
    font-size: 25px;
    color: blueviolet;
}
#greeting{
font-size: 30px;
}
#o-mnie{
    background-color: chocolate;
    border-radius: 15px;
    margin:40px; 
    border-color: black;
    display: flex;
    justify-content: space-between;
}
#o-mnie img{
    width: 160px;
    height: 150px;
    border-radius: 25px;
    padding: 10px;

}
#o-mnie h2{
    font-size: 30px;
    padding: 10px;
}

#o-mnie p{
    font-size: 20px;
    padding: 10px;
}

#portfolio{
    background-color: brown;
    border-radius: 25px;
    margin:40px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    
}
.gallery label{
    position: relative;
    margin: 5px;
    cursor:pointer;
}
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.lightbox-content{
    text-align: center;
}

.lightbox-content img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

input[type="checkbox"]:checked + .lightbox {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

